body{
    padding-top: 50px;
}

.agz-toolbar{
    border: 1px solid black;
}

.agz-gridView{
    border: 1px solid black;
}

.agz-viewPart{
    border: 4px solid white;
    height: 80px;
    background: #eee;
}