body{
    padding-top: 50px;
}

.agz-toolbar{
    border: 1px solid black;
}

.agz-gridView{
    border: 1px solid black;
}

.agz-viewPart{
    border: 1px dashed #eee;
    height: 80px;
}

.agz-draggable{
    z-index: 9000;
}